* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*background color for the page*/
body {
    background-color: #d9dcd6;
}

/*this sets the font and colors for the main h1 header at the top*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This will only edit the 'seo' in Horiseon using a <span> */
.header h1 .seo {
    color: #d9dcd6;
}

/* The next 3 CSS rules all affect the three links at the top of the page */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* This is the main picture that is the first thing you see when on the website */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* These rules give margins and set the position of the smaller pictures on the site */
.float-left, .float-right{
    float: left;
    margin-right: 25px;
}

/* The main content on the page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This is for formatting the benefits on the right side of the screen */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* All of the rules starting with .benefit
    are for formatting the <aside> that is on
    the right side of the page, including the headers
    and the images */
.benefit-brand, .benefit-lead,
.benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3, .benefit-lead h3,
.benefit-cost h3{
    margin-bottom: 10px;
    text-align: center;
}


.benefit-brand img, .benefit-lead img,
.benefit-cost img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* All of the rules starting with .search
    are for formatting the <article> that is in the
    center of the page of the page, including the headers
    and the images */
.search-engine-optimization, .online-reputation-management,
.social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img{
    max-height: 200px;


}


.search-engine-optimization h2,
.social-media-marketing h2,
.online-reputation-management h2{
    margin-bottom: 20px;
    font-size: 36px;
}
/* Describes the footer at the bottom of the page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
